<div class="drawer js-drawer" id="drawer1">
  <div class="drawer__content" role="alertdialog" tabindex="-1"  aria-labelledby="drawerTitle1">
    <div class="drawer__body js-drawer__body">
      <div>
        <h2>Issues</h2>
        
        <li data-key="meta-list-broken-links">
          <input type="checkbox" id="checkbox4444" data-filter-value="hasBrokenLinks">
          <label for="checkbox4444">broken links</label>
        </li>
          <ul class="pb__issues">
          </ul>
          </div>
    </div>

    <button class="reset drawer__close-btn js-drawer__close">
      <svg class="icon" viewBox="0 0 16 16" ><title>Close drawer panel</title><g stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line><line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line></g></svg>
    </button>
  </div>
</div>
