<!--for dev, auto refresh with partial-->
{{ if $.Site.IsServer }}

{{ else }}
<!--embed the same partial in the processed js file-->

{{ end }}

{{ $tabs := resources.Get "dashboard/js/components/tabs.js" | resources.Minify }}
{{ $list := resources.Get "dashboard/js/components/list.min.js" | resources.Minify }}
{{ $utils := resources.Get "dashboard/js/util.js" }}

{{ $basejs := slice $utils $tabs $list | resources.Concat "dashboardbase.js" }}

<script type="text/javascript" src="{{ $basejs.Permalink }}"></script>

{{ $dashboardjs := resources.Get "dashboard/js/dashboard.js" }}
{{ $dashboard := $dashboardjs | resources.Minify | resources.Fingerprint }}
<script type="text/javascript" src="{{ $dashboard.Permalink }}" integrity="{{ $dashboard.Data.Integrity }}"></script>

{{ $sort := resources.Get "dashboard/js/components/sort.js" }}
{{ $sort := $sort | resources.Minify | resources.Fingerprint }}
<script type="text/javascript" src="{{ $sort.Permalink }}" integrity="{{ $sort.Data.Integrity }}"></script>