<aside class="ds-sub-nav pb__sidebar">
<!-- radio buttons-->

{{ partial "dashboard/modebuttons.html" . }}

<h3>1). Select Mode</h3>

<div class="margin-bottom-lg">
    <fieldset id="previewMode">
    <ul data-toggle="mode" class="radio-list radio-list--custom">
        <li>
            <input value="list" type="radio" name="radioButton" id="radio1" checked>
            <label for="list">List</label>
        </li>

        <li>
            <input value="google" type="radio" name="radioButton" id="radio3">
            <label for="google">Google</label>
        </li>

        <li>
            <input value="twitter" type="radio" name="radioButton" id="radio2">
            <label for="twitter">Twitter</label>
        </li>
        
        <li>
            <input value="facebook" type="radio" name="radioButton" id="radio3">
            <label for="facebook">Facebook</label>
        </li>
        </li>
    </ul>
    </fieldset>
</div>

<div class="margin-bottom-lg"> 
    <h3>Sections (<span class="count"></span>)</h3>
    <ul class="groups" data-key="meta-all-group">

        
    </ul>
</div>

<div>
    <h2>Issues</h2>
    

<ul class="pb__issues">


</ul>

</div>

</aside>