{{ $icons := resources.Get "dashboard/images/icons/icons.svg" }}
<aside class="pb__sidebar ds-sub-nav pb__sidebar_right">

    <div class="pb__sidebar_vertical_buttons">
        <button aria-controls="right-drawer" class="counter-container active" pb-drawer-target="pb__issues">
            <svg class="icon-bell"><use xlink:href="{{ $icons.Permalink }}#icon-bell-1"></use></svg>
            <span class="counter counter--critical counter--docked issues-count">- <i class="sr-only">Notifications</i></span>
        </button>
        <button aria-controls="right-drawer" class="counter-container" pb-drawer-target="pb__broken_links">
            <svg class="icon-link"><use xlink:href="{{ $icons.Permalink }}#icon-link"></use></svg>
            <span class="counter counter--critical counter--docked broken-link-count">- <i class="sr-only">404 link checker</i></span>
        </button>
        
    </div>

    <div class="pb__sidebar_content">
    
        
        <div class="pb__sidebar_content_toggle pb__issues">
            <h3>Pages with Issues</h3>
            <ul class="pb__selected_issues"></ul>
        </div>

        <div class="pb__sidebar_content_toggle pb__broken_links">
            <h3>View Broken Internal Links</h3>
            <p>Select an item to view broken links.</p>
            <ul class="pb__selected_broken_links"> </ul>
        </div>
        
    </div>

</aside>