<aside class="ds-sub-nav">
<!-- radio buttons-->
<div class="margin-bottom-md">
<label class="form-label margin-bottom-xxs" for="inputDomainX">Domain:</label>
<div class="input-group">
    <input class="form-control flex-grow" type="text" name="inputDomainX" id="sitemap" value="/sitemap.xml">
    <button class="btn btn--primary"></button>
</div>
</div>

<div class="search-input search-input--icon-right">
    <input class="form-control width-100%" type="search" name="searchInputX" id="searchInputX" placeholder="Search...">
    <button class="search-input__btn">
        <svg class="icon" viewBox="0 0 24 24"><title>Search</title><g stroke-linecap="square" stroke-linejoin="miter" stroke-width="2" stroke="currentColor" fill="none" stroke-miterlimit="10"><line x1="22" y1="22" x2="15.656" y2="15.656"></line><circle cx="10" cy="10" r="8"></circle></g></svg>
    </button>
</div>

{{ partial "dashboard/modebuttons.html" . }}

<h3>Sections: </h3>
<ul class="groups" data-filter-group="section">

    <li data-filter="*">All</li>
    
</ul>
</aside>