button:hover, .btn-sort:hover, .btn:hover, .btns__btn:hover {
    cursor: pointer;
}
.btns--radio {
    input[type=radio]:checked+label:hover {
        cursor: initial;
    }
} 
// Buttons that display after the initial items are formed
[data-post-processing] {
    //display: none;

    &.btn-display {
        display: block;
    }
}
[class^="icon-"], [class*=" icon-"] {
    height: 32px;
    width: 32px;
    display: inline-block; 
    fill: currentColor; 
}
button, .btn {
    &.active, &:hover {
        background-color: var(--color-primary, hsl(220, 90%, 56%));
        color: var(--color-white, hsl(0, 0%, 100%));
        border-color: var(--color-primary, hsl(220, 90%, 56%));
    }
}
.btn-sort {
    margin-right: 15px;
    font-weight: bold;
    color: #ddd;

    &:after {
        display: inline-block;
        margin-left: 5px;
    }
    &[data-sort-asc="true"]:after {
        content: ' \2193';
    }
    &[data-sort-asc="false"]:after {
        content: ' \2191';
    }
    

    &.active {
        color: var(--color-primary);
    }
}
