// Colors
$oil: #2f2f2f;
$google: #1a0dab;
$google_link: #006621;

$meta_border: #E1E8ED;

$border_color: #efefef;

$twitter_brand_color: #1ba1f1;
$google_brand_color: #db3236;
$facebook_brand_color: #4267b2;