<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    <head>
    {{ partial "dashboard/meta.html" . }}
    {{ partial "dashboard/styles.html" . }}
    </head>
    <body class="pancakesDashboard">
    <main class="dashboardContent" role="main">
        {{ partial "dashboard/sidebar-left.html" . }}
        {{ block "main" . }}{{ end }}
        {{ partial "dashboard/sidebar-right.html" . }}
        {{ partial "dashboard/drawer.html" . }}
    </main>
    {{ partial "dashboard/scripts.html" . }}
    </body>
</html>