{{ define "main" }}
<div class="pancakesDashboard">

    <div class="flex flex-gap-lg">
        <button data-sort-value="title">Title</button>
        
    <div class="select">
      <select class="form-control width-100%" name="selectThis" id="selectThis">
        <option value="0">Robots Value</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
      </select>
      <svg class="icon" aria-hidden="true" viewBox="0 0 16 16"><g stroke-width="1" stroke="currentColor"><polyline fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="15.5,4.5 8,12 0.5,4.5 "></polyline></g></svg>
    </div>

      <fieldset id="previewMode">
        <ul class="radio-list radio-list--custom">
          <li>
            <input type="radio" name="radioButton" id="radio1" checked>
            <label for="list">List</label>

            <input type="radio" name="radioButton" id="radio2">
            <label for="twitter">Twitter</label>

            <input type="radio" name="radioButton" id="radio3">
            <label for="google">Google</label>

            <input type="radio" name="radioButton" id="radio3">
            <label for="facebook">Facebook</label>
          </li>
        </ul>
      </fieldset>

      <!-- <fieldset id="">
        <div class="checkbox-list checkbox-list--custom">
          <div>
            <input type="checkbox" id="checkbox1" checked>
            <label for="checkbox1">Option 1</label>
            <input type="checkbox" data-sort-value="title" id="checkbox2">
            <label for="checkbox2">Option 2</label>
            <input type="checkbox" id="checkbox3">
            <label for="checkbox3">Option 3</label>
          </div>
          <button data-sort-value="title">Title</button>
        </div>
      </fieldset> -->
    </div>


  <div id='sortableContent' class="sections">


  </div>
  
</div>

  

  
{{ end }}