{{ define "main" }}
<div class="pancakesDashboard">

    <div class="flex flex-gap-lg">
      <div class="total">
        count:
        <span class="count"></span>
      </div>
      <div class="flex" data-sort-group="section">
          <div data-sort-value="title">Title</div>
          <div data-sort-value="group">Group</div>
      </div>
        

    <div class="select">
      <select class="form-control width-100%" name="selectThis" id="selectThis">
        <option value="0">Robots Value</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
      </select>
      <svg class="icon" aria-hidden="true" viewBox="0 0 16 16"><g stroke-width="1" stroke="currentColor"><polyline fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="15.5,4.5 8,12 0.5,4.5 "></polyline></g></svg>
    </div>

      <fieldset id="previewMode">
        <ul data-toggle="mode" class="radio-list radio-list--custom">
          <li>
            <input value="list" type="radio" name="radioButton" id="radio1" checked>
            <label for="list">List</label>

            <input value="google" type="radio" name="radioButton" id="radio3">
            <label for="google">Google</label>

            <input value="twitter" type="radio" name="radioButton" id="radio2">
            <label for="twitter">Twitter</label>

            <input value="facebook" type="radio" name="radioButton" id="radio3">
            <label for="facebook">Facebook</label>
          </li>
        </ul>
      </fieldset>

    </div>


  <div id='sortableContent' class="sections">


  </div>
  
</div>

  

  
{{ end }}